html{
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
}
body{
  color: #1D1D1B;
  width: 1920px;
  margin: 0;
  padding: 0;
}
.header{
  width: 1920px;
  
  
}
.header_wraper{
height: 36px;
}
.header_nav{
  background-color: #F8F8F8;
  padding: 0 400px;
}
a{
  text-decoration: none;
  color: #1D1D1B;
}



.header_list{
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  gap:0;
  flex-direction: flex-start;
  list-style-type:none;
  padding-left: 35px;
  margin-top: 0;
}
.header_list-2{
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display:flex;
  justify-content: space-between;
  padding: 0 400px 0 100px;
  gap: 30px;
  list-style-type:none; 
}
.vaee{
  display: flex;
  align-items: center;
}
.header_item{
  display: flex;
  align-items: center;
}
.logo{
  position: absolute;
  width: 136px;
  height: 24px;
  top: 85px;
  left: 400px;
  gap: 0px;
  opacity: 0px;
}
form {
  position: relative;
  width: 412px;
  height: 48px;
  margin: 0 auto;
}
.search {
  display: inline-block;
  position: absolute;
  width:auto;
  height: auto;
  top: 70px;
  left: 592px;
  gap: 0px;
  opacity: 0px;

}
.search input {
  width: 100%;
  height: 48px;
  padding-left: 10px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #D4D4D4;
  border-radius: 5px;
  outline: none;
}
.search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 48px;
  height: 48px;
  border: none;
  background: red;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.button-1{
  display: flex;
  align-items: center;
  position: absolute;
  width: 182px;
  height: 48px;
  top: 70px;
  left: 1050px;
  gap: 0px;
  border-radius: 3px;
  opacity: 0.04px;

}
.button-1:hover{
  background-color: #F8F8F8;
}
.some_but-1{
  
  margin: 0 auto;
}
.imp_but{
  display: flex;
  align-items: center;
  gap:10px;
  height: 16px;
  margin: 0 auto;
  width: 16px;
}
.button-2{
  display: flex;
  align-items: center;
  position: absolute;
  width: 182px;
  height: 48px;
  top: 70px;
  left: 1240px;
  gap: 0px;
  border-radius: 3px;
  opacity: 0.04px;

}
.button-2:hover{
  background-color: #F8F8F8;
}
.some_but-2{
  
  margin: 0 auto;
}
.imp_but{
  position: absolute;
  height: 24px;
  margin: 0 auto;
}
.button-3{
  display: flex;
  align-items: center;
  position: absolute;
  width: 182px;
  height: 48px;
  top: 70px;
  left: 1430px;
  gap: 0px;
  border-radius: 3px;
  opacity: 0.04px;

}
.button-3:hover{
  background-color: #F8F8F8;
}
.some_but-1{
  
  margin: 0 auto;
}
.imp_but{
  padding-left: 25px;
  position: absolute;
  height: 24px;
  margin: 0 auto;
}

.catalog{
  
  width: 136px;
  height: 48px;
 
}
.last_line{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border:0.3px solid #F8F8F8;
  height: 48px;
  top: 100px;
  left: -1030px;
  gap: 0;
  opacity: 0.02px;

}
.table_img{
  padding-right: 10px;
}
  

.tables{
  width: 190px;
  gap: 0;
  display: flex;
  align-items: center;
}
.table_link{
  justify-content: center;
  height:100%;
  width:100%;

  display: flex;
  align-items: center;

}
.tables .table_link:hover {
  background-color: #F8F8F8;
}
.badge:after{
  content:attr(value);
  font-size:12px;
  color: #fff;
  background: red;
  border-radius:100%;
  padding: 0 5px;
  position:relative;
  left:0;
  opacity:0.9;
}

p.sale{
  color: red;
}
p.cat{
  color:white;
}
.catalog{
  background-color: red;

}
.catalog.table_link{
  pointer-events: none;
}