html{
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
}
body{
  color: #1D1D1B;
  width: 1920px;
  margin: 0;
  padding: 0;
}
.header{
  width: 1920px;
  padding: 0 400px;
  
}
.header_nav{
  background-color: #F8F8F8;
}
a{
  text-decoration: none;
  color: #1D1D1B;
}
.header_list{
  display: flex;
  gap:0;
  flex-wrap: wrap;
  flex-direction: flex-start;
  list-style-type:none;
  margin:0;
  padding: 0;
  
}
.header_list-2{
  display:flex;
  justify-content: space-between;
  padding: 0 285px 0 100px;
  gap: 30px;
  list-style-type:none; 
}
.logo{
  position: absolute;
  width: 136px;
  height: 24px;
  top: 85px;
  left: 400px;
  gap: 0px;
  opacity: 0px;
}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.search {
  position: absolute;

  width: 412px;
  height: 48px;
  top: 70px;
  left: 592px;
  gap: 0px;
  opacity: 0px;

}
.search input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #D4D4D4;
  border-radius: 5px;
  outline: none;
}
.search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: red;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}